---
import SocialLink from "../components/SocialLink.astro";
import IconLinkedIn from "../assets/icons/IconLinkedIn.svg";

const { name, image, title, description, link } = Astro.props;
---

<article class="flex w-72 flex-col">
  <img
    alt={name}
    class="aspect-square w-full rounded-md object-cover"
    src={image}
  />
  <h2 class="my-1 flex justify-center">
    {title}
  </h2>
  <span class="my-1">
    <SocialLink content={name} icon={IconLinkedIn} link={link} />
  </span>
  <p class="mt-4 text-gray-800">
    {description}
  </p>
</article>
