---
import IconX from "../assets/icons/IconX.svg";

const { question, answer, className = "", textColor = "white" } = Astro.props;
---

<details class={`prose group mx-auto w-full border-b border-white py-4 ${className}`}>
  <summary
    class="flex justify-between items-center cursor-pointer font-semibold text-base"
  >
    <span class=`text-${textColor}`>{question}</span>
    <span class=`transition-transform group-open:rotate-45 text-${textColor}`>
      <IconX class="scale-75 rotate-45" />
    </span>
  </summary>
  <div class=`mt-2 text-${textColor}`>
    {answer}
  </div>
</details>
